body {
  background:#eee;
  font-family: Arial;
}

.container {
  width:420px;
  background:white;
  margin:50px auto;
  padding:20px;
  border-radius:10px;
}

.input-area input {
  width:100%;
  margin:4px 0;
  padding:6px;
}

button {
  padding:6px;
  margin-top:5px;
  background:#4caf50;
  color:white;
  border:none;
}

.filters button {
  background:#2196f3;
  margin-right:5px;
}

li {
  background:#f2f2f2;
  margin-top:6px;
  padding:6px;
  list-style:none;
}

.done {
  text-decoration:line-through;
  opacity:.6;
}

.save {
  width:100%;
  background:#ff9800;
}